.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  position: relative;
}

.welcome-header img {
  width: 70vw;
}

.welcome-header__title {
  color: gainsboro;
  position: absolute;
  font-size: 80px;
  top: 50%;
  /* left: 26.5%; */
}

.welcome-header__text-box {
  position: absolute;
  top: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-header__text {
  font-size: 40px;
}

.welcome-header__text-decoration {
  margin: 0 10px;
  width: 40px;
  height: 5px;
  background-color: gainsboro;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: rgba(34, 34, 34);
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid gainsboro; /* a는 투명도 */
  transition: border-color 0.3s ease-in-out;
  color: white;
}

#login-form input::placeholder {
  color: var(--apex-red);
}

#login-form input:focus {
  border-color: var(--apex-red);
}

#login-form input[type="submit"] {
  background-color: var(--apex-red);
  color: gainsboro;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: var(--apex-red);
  font-size: 13px;
}
