.badge {
  background-color: tomato;
  color: gainsboro;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.badge__reversal {
  color: tomato;
  border: 1px solid tomato;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
  font-weight: 700;
}

.badge__light-dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.badge__cog-light-dot {
  position: absolute;
  right: -8px;
  top: -8px;
}
