.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /* padding때문에 box 사이즈가 늘어나지 않도록 함 */
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  /* badge component와 함께 사용 */
  position: absolute; /* 새로운 레이어, relative한 부모 기준으로 이동 가능 */
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__light-dot {
  position: absolute;
  left: 30px;
}

/* animation */
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
}

.nav__btn i {
  transition: color 0.5s ease-in-out;
}

.nav__btn i:hover {
  color: var(--apex-red);
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}

.nav__btn:nth-child(4) {
  animation-delay: 0.6s;
}
