#no-mobile {
  position: absolute;
  z-index: 99;
  height: 260vh;
  width: 100vw;
  padding: 80px 0 0 0;
  background-color: black;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 32px;
  overflow: hidden;
}

/* intro only - enter the portal */
#no-mobile__intro {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  overflow: hidden;
}

.no-mobile__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.no-mobile__box img {
  height: 600px;
  border-radius: 50%;
}
.no-mobile__box span {
  color: var(--apex-red);
}

@keyframes enterPortal {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(3);
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 0%;
    visibility: hidden;
  }
}

@media screen and (max-width: 500px) {
  #no-mobile__intro span {
    display: none;
  }
  #no-mobile__intro {
    animation: enterPortal 3s ease forwards;
  }

  #no-mobile {
    display: none;
    width: 100vh;
    height: 100vh;
  }
}
