.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 31px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.screen-header__icons span {
  margin-left: 20px;
}

/* animation */
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog {
  animation: rotateCog 3s linear infinite;
}

@keyframes music-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.screen-header__icons .fa-music {
  animation: music-animation 1.5s ease infinite;
}
