/* splash screen */
@keyframes hideSplashScreen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden; /* 마우스에 걸리지 않게 화면이 빠짐 */
  }
}

#splash-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 1.2s ease forwards;
}

#splash-screen img {
  width: 40%;
  height: 20%;
}
