.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* space-between은 div박스의 크기가 다르면 예쁘게 위치하지 못함 */
  padding: 5px 3px;
  background-color: #f9f9fa;
  color: var(--main-black);
  z-index: 3;
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(3) .fa-lock {
  margin: 0px 5px;
}

.status-bar__column:nth-child(3) .fa-battery-quarter {
  margin: 0px 5px;
}
