.user-component {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__avatar-box {
  padding-right: 20px;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-component__title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 8px;
}

.user-component__subtitle {
  font-size: 13px;
  font-weight: 600;
  color: rgb(130, 130, 130);
  margin-right: 5px;
}

.user-component__avatar--xl {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
}
